.text-logo{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;    
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transition: all 0.3s ease;
}

.text-logo:hover{
    color: #5456e7;
}

@media screen and (max-width: 768px) {
    .text-logo h1{
        display: none;
    }
}
